/* SITE */
a,p,h1,h2,h3,h4{
	font-family: "Montserrat", "Calibri";
}

1a{
	color: #4d4d4d;
}

a:hover{
	color: green;
	text-decoration: none;
}

a:visited{
	color: #4d4d4d;
	text-decoration: none;
}

h2{
	font-family: "Montserrat", "Calibri";
	font-weight: 700;
	font-size: 20px;
}

h3{
	font-size: 14px;
}

p{
	margin: 0 auto;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

#site-background {
	background-color: white;
	background-image: url("../img/newbirds.jpg");
	background-position: center;
	background-attachment: fixed;
	background-
}

#site-footer {
	background-color: rgba(0,0,0,0);
	text-align: center;
	color: #cecece;
	padding: 5px 0;
	font-size: 10px;
}



/* MAIN PAGE */
#main-header {
	padding: 0 auto;
}

.logo{
	display: block;
	margin: 3% auto;
	max-width: 200px;
	max-height: auto;
}

#main-menu {
	margin: 0 auto;
	width: 30%;
	min-width: 250px;
	max-width: 350px;
	background-color: white;
}

#main-menu ul {
	font-size: 20px;
	padding-left: 0px;
}

.line {
	display: inline-block;
	height: 3px;
	width: 100%;
}

.colorone {
	width: 20%;
	background-color: #e93d00;
	margin: 0px;
}

.colortwo {
	width: 5%;
	background-color: #5d3d00;
	margin: 0px;
}

.colorthree {
	width: 50%;
	background-color: #0d3700;
	margin: 0px;
}

.colorfour {
	width: 20%;
	background-color: #0ee896;
	margin: 0px;
}

#first{
	margin-right: 10px;
}

.main-menu-item {
	display: inline-block;
	margin-top: 20px;
}

#main-informations {

}

#main-projects {
	margin: 0 auto;
	width: 30%;
	min-width: 250px;
	max-width: 350px;
	background-color: white;;
	padding-bottom: 15px;
}

#main-projects ul {
	padding-left: 0px;
}

.main-projects-project {
	display: block;
}

.main-projects-project img {
	width: 18px;
	height: auto;
}

.allgames{
	margin: 0 10%;
	width: 80%;
}

.social{
	display: inline-block;
}

.socialicon{
	height: 64px;
	width: auto;
	margin: 0 auto;
	
}

/* PROJECT PAGE */
#projet-background {
	background-color: white;
	background-image: url("../img/243554.png");
	background-position: center;
	background-attachment: fixed;
	background-
}

#project-box{
	background-color: white;
	display: block;
}

.project-header{
	margin: 0px;
}

.title{
	display: inline-block;
	margin-left: 30px;
}