/* SITE */
a,p,h1,h2,h3,h4{
	font-family: "Montserrat", "Calibri";
}

1a{
	color: #4d4d4d;
}

a:hover{
	color: green;
	text-decoration: none;
}

a:visited{
	color: #4d4d4d;
	text-decoration: none;
}

h2{
	font-family: "Montserrat", "Calibri";
	font-weight: 700;
	font-size: 20px;
}

h3{
	font-size: 14px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

#site-background {
	background-color: white;
	background-image: url("243554.png");
	background-position: center;
}

#site-footer {
	background-color: rgba(0,0,0,0);
}

/* MAIN PAGE */
#main-header {
	padding: 0 auto;
}

.logo{
	display: block;
	margin: 3% auto;
	max-width: 80px;
	max-height: 80px;
}

#main-menu {
	margin: 0 auto;
	width: 30%;
	min-width: 250px;
	max-width: 350px;
	background-color: white;
}

#main-menu ul {
	padding-left: 0px;
}

.main-menu-item {
	display: block;
	margin: 20px 0px;
}

#main-informations {

}

#main-projects {
	margin: 0 auto;
	width: 30%;
	min-width: 250px;
	max-width: 350px;
	background-color: white;;
	padding-bottom: 15px;
}

#main-projects ul {
	padding-left: 0px;
}

.main-projects-project {
	display: block;
}

.allgames{
	margin: 0 10%;
	width: 90%;
}

/* PROJECT PAGE */